body{ 
  background-color: #cccccc;
  font-family: Arial,Helvetica,sans-serif;
}
table{
  /*border-collapse:collapse;*/
  /*font-family: 'Courier New',Courier,monospace;*/
  font-size: 12px;
}
.verde{
  background-color: greenyellow;
  border-right-style: solid;
  border-left-style: solid;
  border-top-style: solid;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 1px;
}
.verdeoscuro{
  background-color: green;
  color: white;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  border-top-style: none;
  text-align: center;
}
.naranja{
  background-color: orange;
  border-right-style: solid;
  border-left-style: solid;
  border-top-style: solid;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 1px;
}
.rojo{
  background-color: red;
  border-right-style: solid;
  border-left-style: solid;
  border-top-style: solid;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 1px;
}
.limpio{
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  border-top-style: none;
  text-align: center;
}
