body{ 
  background-color: #cccccc;
}
table{
  /*border-collapse:collapse;*/
  font-family: 'Courier New',Courier,monospace;
  font-size: 12px;
}
td{
  border-right-style: solid;
  border-left-style: solid;
  /*border-bottom-style: solid;*/
  border-top-style: solid;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 1px;
}
.verde{
  background-color: greenyellow;
}
.naranja{
  background-color: orange;
}
.rojo{
  background-color: red;
}
.limpio{
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  border-top-style: none;
  text-align: center;
}
