table{
  /*border-collapse:collapse;*/
  /*width:200px;*/
  font-family: 'Courier New',Courier,monospace;
  font-size: 12px;
}
td{
  width: 5px;
  background-color: greenyellow;
  border-right-style: solid;
  border-left-style: solid;
  border-bottom-style: solid;
  border-top-style: solid;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 1px;
}
.a{
  
  background-color: white;
}
