body{
  background-color:#CDCDCD;
  font-family:"Times";
  font-size:15px;
  color:black;
  text-align:center;
}
div.cabecera{
  font:bold 27px "Arial";
  color:White;
  background-color:orange;
  text-align:center;
  height: 40px;
}
table{	
  text-align: left;
  width:100%;
}
th{
  background-color:orange;
  color: white;
  font-size: 12px;
  font-family:"Arial";
  color: White;
  text-align: center;
  border:0px;
  padding: 1px;
}
a{
  color:white;
}

.a{
  width:40%;
  text-align:center;
  color: White;
}
.b{
  width:15%;
  text-align:center;
  color: White;
}
.c{
  width:30%;
  text-align:center;
  color: White;
}
.boton{
  border: solid 2px white;
  background-color:orange;
  color: White;
  text-align: center;
  padding: 3px;
  text-decoration:underline;
  width:50%;
}
