body{
  background-color: silver;
  font-size: 12px;
}
.titulo{
  background-color: green;
  color: white;
  text-align: center;
  font-family: Arial,Helvetica,sans-serif;
  width: 150px;
  font-size: 14px;
}
.centrar{
  text-align: center;
}
.derecha{
  text-align: right;
}
.izquierda{
  text-align: left;
}
.boton{
  background-color: white;
  border-right-width: 2px;
  border-left-width: 2px;
  border-bottom-width: 2px;
  border-top-width: 2px;
  border-right-style: ridge;
  border-left-style: ridge;
  border-bottom-style: ridge;
  border-top-style: ridge;
	font-size: 12px;
  text-align: center;
  color: green;
}
.resul{
	color: green;
	text-align: center;
	font-size: 12px;
}
.verde{
  background-color: greenyellow;
  border-right-style: solid;
  border-left-style: solid;
  border-top-style: solid;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 1px;
}
.verdeoscuro{
  background-color: green;
  color: white;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: none;
  border-top-style: none;
  text-align: center;
}
.rojo{
  background-color: red;
  border-right-style: solid;
  border-left-style: solid;
  border-top-style: solid;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-top-width: 1px;
}